#container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(3, 200px);
}

#item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
}

#item2 {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: blue;
}

#item3 {
    grid-column-start: 5;
    grid-column-end: 6;
    background-color: lightgray;
}

#item4 {
    background-color: beige;
}

#item5 {
    background-color: lightblue;
}

#item6 {
    background-color: aqua;
}

#item7 {
    background-color: dimgray;
}

#item8 {
    background-color: gold;
}

#item9 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: gray;
}

#item10 {
    background-color: darkblue;
}

#item11 {
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: gray;
}