.temp-frio {
	color: #1565c0;
	background: linear-gradient(135deg, #e3f2fd 0%, #90caf9 100%);
    padding: 2%;
    border-radius: 15px;
    margin: 1% 0;
}

.temp-normal {
    color: #2e7d32;
	background: linear-gradient(135deg, #e8f5e9 0%, #a5d6a7 100%);
    padding: 2%;
    border-radius: 15px;
    margin: 1% 0;
}

.temp-calor {
    color: #c62828;
	background: linear-gradient(135deg, #ffebee 0%, #ef9a9a 100%);
    padding: 2%;
    border-radius: 15px;
    margin: 1% 0;
}