* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

header {
}

header h1 {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    background: linear-gradient(to bottom, #c00 20%, #fa0 20% 80%, #c00 80%);
    text-shadow: 2px 2px 2px #666;
    box-shadow: 0px 0px 4px 5px #900;
    font-style: italic;
}

#controlNotas {
    margin: 2% auto;
    width: 30%;
}

#controlNotas button {
    width: 30%;
    padding: 1.5%;
    margin: 0 1.66%;
    background-color: orange;
    border: 2px solid #a00;
    border-radius: 5px;
    transition: 0.25s;
}

#controlNotas button:hover {
    background-color: #fb0;
}

#crearNota {
    width: 30%;
    margin: 20px auto;
    background-color: gray;
}

#tituloNota {
    width: 90%;
    margin: 4% 5% 2% 5%;
    padding: 1%;
    text-align: center;
}

#textNota {
    width: 90%;
    margin: 2% 5%;
    padding: 1%;
    text-align: center;
    resize: vertical;
}

#colorNota {
    text-align: center;
    width: 30%;
    margin: 2% 35%;
}

#prioridadNota {
    
}

#prioridadNotaLabel {
    margin: 2% 0 0 40%;
}

#colorTexto {
    width: 30%;
    margin: 2% 35%;
    
}

#crearNotaButton {
    width: 20%;
    margin: 2% 40%;
}

#buscarNota {

}

#buscarNota h2 {
    text-align: center;
}

#tituloNotaBuscar {
    display: block;
    margin: auto;
    text-align: center;
    padding: 0.1%;
    margin-bottom: 0.5%;
}

#tituloNotaBuscarLabel {
    display: block;
    text-align: center;
    margin: 0.5%;
}

#colorNotaBuscar {
    display: block;
    margin: 0.75% auto;
}

#prioridadNotaBuscarCont {
    margin: auto;
    width: 8%;
}

#buscarNota button {
    display: block;
    margin: 0.75% auto;
    padding: 0.5% 1%;
}

#resultadoBuscar {
    text-align: center;
}

#btBar {
    clear: both;
    height: 60px;
    margin: 2%;
    padding: 10px 2em;
    border: 1px solid black;
    position: sticky;
    top: 0;
    background-color: beige;
}

#btBar button {
    height: 40px;
    width: 60px;

}

#l-btBar {
    float: left;
}

#r-btBar {
    float: right;
    margin-right: 10px;
}

#r-btBar button {
    margin: 0 5px;

}

main {
    clear: both;
}

#lM {
    float: left;
    height: 700px;
    width: 18%;
    margin: 0.5% 0.5% 2% 2%;
    border: 2px solid black;
    text-align: center;
}

#rM {
    float: right;
    height: 700px;
    width: 77%;
    margin: 0.5% 2% 2% 0.5%;
    border: 2px solid black;
    overflow: hidden;
    padding: 2%;
}

#separador {
    background: linear-gradient(to right, lightblue, blue, purple, red, orange);
    height: 10px;
    clear: both;
}

#destacado {
    margin-bottom: 1%;
    height: 40%;
    overflow: hidden;
}

#dest-titulo {
    border: 1px solid black;
    text-align: center;
    height: 15%;
    margin-bottom: 2%;
}

#dest-notas {
    height: 77%;
    overflow-y: scroll;
    margin-bottom: 2.5%;
}

#dest-notas .notaDest:nth-child(3n+2) {
    margin: 0 5% 2.5% 5%;
}

#dest-notas .nota:nth-last-child(1):nth-child(3n+4) {
    margin-bottom: 0;
}

#dest-notas .nota:nth-last-child(1):nth-child(3n+5) {
    margin-bottom: 0;
}

#dest-notas .nota:nth-last-child(1):nth-child(3n+6) {
    margin-bottom: 0;
}

#dest-notas .nota:nth-last-child(2):nth-child(3n+4) {
    margin-bottom: 0;
}

#dest-notas .nota:nth-last-child(2):nth-child(3n+5) {
    margin-bottom: 0;
}

#dest-notas .nota:nth-last-child(3):nth-child(3n+4) {
    margin-bottom: 0;
}

#dest-notas .nota:nth-last-child(1):nth-child(3) {
    margin-bottom: 0;
}
#dest-notas .nota:nth-last-child(2):nth-child(2) {
    margin-bottom: 0;
}
#dest-notas .nota:nth-last-child(3):nth-child(1) {
    margin-bottom: 0;
}

#notasCont {
    margin-top: 1%;
    overflow-y: scroll;
    height: 54%;
}

#notasCont .nota:nth-child(odd) {
    margin-right: 2.5%;
}

#notasCont .nota:nth-child(even) {
    margin-left: 2.5%;
}

#notasCont .nota:nth-last-child(2):nth-child(odd) {
    margin-bottom: 0;
}

#notasCont .nota:nth-last-child(1) {
    margin-bottom: 0;
}


.nota {
    float: left;
    height: 100%;
    width: 47.5%;
    border: 5px solid black;
    padding: 1em;
    margin-bottom: 2.5%;
    font-size: 1.5em;
}

.notaDest {
    height: 100%;
    width: 30%;
    overflow: hidden;
}

.notaLineal {
    background: linear-gradient(to bottom, #eee, #bbb 98%, #333);
    box-shadow: 3px 3px 1px 2px gray;
}

.notaImagen {
    background-image: url(../IMG/sea.jpg);
    background-size: cover;
    color: white;
}

.notaRadial {
    background: 
    radial-gradient(circle at top left, gray, white 10% 90%, gray);
}

.notaConic {
    background: conic-gradient(at 75% 75%, #ccc, #eee, #ccc, #ddd);
}

.notaColor1 {
    background-color: white;
    color: black;
}

.notaColor2 {
    background-color: black;
    color: white;
}

.notaColor3 {
    background-color: greenyellow;
    color: black;
}

.notaColor4 {
    background-color: wheat;
    color: black;
}

.notaColor5 {
    background-color: lightseagreen;
    color: black;
}

.notaColor6 {
    background-color: darkblue;
    color: white;
}

.nB {
    width: 31%;
    margin: 1% 1.16%;
}

#buscarNota .nB h2, #buscarNota .nB p {
    text-align: left;
}

#estadisticasNota {
    text-align: center;
}

#modNotaCont {
    width: 30%;
    position: fixed;
    top: 30%;
    left: 35%;
    background-color: gray;
    padding: 1%;
    text-align: center;
}

#tituloMod {
    width: 90%;
    padding: 1%;
    margin: 1% auto;
    text-align: center;
}

#textMod {
    width: 90%;
    padding: 1%;
    margin: 1% auto;
    text-align: center;
    
}

#colorMod {
    width: 30%;
    padding: 1%;
    margin: 1% auto;
    text-align: center;
}


#prioridadMod {
    margin: 1% auto;
}

#guardarMod {
    padding: 1%;
}

#borrarNota {
    padding: 1%;
}

.modNota {
    float: right;
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 25%;
    width: 1em;
    height: 1em;
}

.modNota img {
    display: block;
    margin: auto;
    width: 70%;
    margin: 15%;
}

footer {
    clear: both;
    height: 200px;
    background: linear-gradient(to left, blue, orange, cornflowerblue 20% 80%, orange,blue);
    text-align: center;
    padding-top: 80px;
}

#redSoc {
    width: 40px;
    background-color: #ccc;
    position: fixed;
    top: 50%;
    right: 2%;
}

#redSoc a{

}


#redSoc img {
    width: 40px;
    padding: 7px;
}