* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    padding: 40px;
}

.contenedor {
    max-height: 600px;
    margin: 0 auto;
}

h1 {
    color: #2c3e50;
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

.notificacion {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 16px;
}

.notificacion-exito {
    background-color: rgba(0, 200, 83, 0.1);
    color: rgb(0, 150, 63);
    border-left: 4px solid #2ecc71;
}

.notificacion-error {
    background-color: rgba(231, 76, 60, 0.1);
    color: rgb(192, 57, 43);
    border-left: 4px solid #e74c3c;
}

.notificacion-aviso {
    background-color: rgba(243, 156, 18, 0.1);
    color: rgb(211, 84, 0);
    border-left: 4px solid #f39c12;
}

.notificacion-info {
    background-color: rgba(52, 152, 219, 0.1);
    color: rgb(41, 128, 185);
    border-left: 4px solid #3498db;
}

.icono {
    font-size: 24px;
    margin-right: 10px;
    font-weight: bold;
}

.notificacion h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    /* display: inline; */
}

.notificacion p {
    line-height: 1.5;
    font-size: 14px;
}