* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    background-color: orange;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2%;
}

.nav-btn-cont {
    width: 15%;
}

.nav-btn {
    width: 100%;
    padding: 10px;
    background-color: greenyellow;
    border: 4px solid green;
    border-radius: 12px;
}

.nav-btn:hover {
    border: 4px solid black;
    cursor: pointer;
}

main {
    background-color: #eee;
    padding: 2%;
}

#tienda-cats {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-bottom: 1%;
}

#tienda-cats-fruta, #tienda-cats-verdura {
    width: 10%;
    padding: 10px;
    background-color: greenyellow;
    border: 4px solid green;
    border-radius: 12px;
}

#tienda-cats-fruta:hover, #tienda-cats-verdura:hover {
    border: 4px solid black;
    cursor: pointer;
}


#tienda-display {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    row-gap: 4%;
    padding: 1%;
}

.producto {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.producto-img {
    width: 80%;
    margin-bottom: 2%;
}

.producto-title {
    margin-bottom: 2%;
}

.producto-precio {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: large;
}

.producto-contador-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.producto-addBtn {
    width: 40px;
    height: 40px;
    background-color: #0c0;
    color: white;
    border: 2px solid green;
    border-radius: 5px;
}

.producto-restBtn {
    width: 40px;
    height: 40px;
    background-color: #e00;
    color: white;
    border: 2px solid #900;
    border-radius: 5px;
}

.producto-contador {
    line-height: 40px;
    text-align: center;
}

.producto-caritoBtn {
    width: 80%;
    padding: 2% 5%;
    margin-top: 2%;
    background-color: #57f;
    border: 2px solid #359;
    border-radius: 10px;
}

#carito {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
    box-shadow: 0 0 3px black;
}

#carito-title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid rgba(220, 220, 220, 0.5);
}

#carito-productos {
    height: 80%;
    padding: 0 4%;
}

.carito-productos-prod {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4% 0;
    border-bottom: 2px solid rgba(220, 220, 220, 0.5);
}

.carito-productos-prod-lSide {
    width: 70%;
    display: flex;
    align-items: center;
}

.carito-productos-prod-rSide {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carito-productos-prod-img {
    width: 30%;
}

.carito-productos-prod-deleteBtn {
    width: 2vw;
    height: 2vw;
    flex-shrink: 0;
    background-color: #f00;
    color: black;
    border: 1px solid #900;
}

#carito-checkout {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid rgba(220, 220, 220, 0.5);
    padding: 2%;
}

#carito-checkout-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#carito-checkout-btn-cont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#carito-checkout-btn {
    width: 45%;
    padding: 2% 0;
    background-color: #57f;
    border: 2px solid #359;
    border-radius: 7px;
}

#carito-clear-btn {
    width: 45%;
    padding: 2% 0;
    background-color: #57f;
    border: 2px solid #359;
    border-radius: 7px;
}

#administracion {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 500px;
}

#admin-productos {
    
}

#admin-form-cont {
    background-color: white;    
    border-radius: 15px;
    border: 2px solid gray;
}

#admin-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}

#admin-form input, #admin-form select {
    padding-left: 2%;
}

#admin-form input, #admin-form select, #admin-form-btn-cont {
    height: 7%;
}

#admin-productos {
}

#admin-productos-cats {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-bottom: 1%;
}

#admin-cats-fruta, #admin-cats-verdura, #admin-cats-add {
    width: 15%;
    padding: 10px;
    background-color: greenyellow;
    border: 4px solid green;
    border-radius: 12px;
}

#admin-cats-fruta:hover, #admin-cats-verdura:hover, #admin-cats-add:hover {
    border: 4px solid black;
    cursor: pointer;
}

#admin-productos-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    row-gap: 4%;
    padding: 1%;
}

#admin-form-btn-cont {
    display: flex;
    justify-content: space-around;
}

#admin-form button {
    height: 100%;
    width: 40%;
    background-color: greenyellow;
    border: 2px solid green;
    border-radius: 12px;
}

#admin-form button:hover {
    border: 2px solid black;
}

#manager {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#manager-stats-generales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8%;
    margin-bottom: 2%;
}

#manager-stats-generales > div {
    background-color: white;
    width: 20%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#manager-stats-generales-ventasTotal-value {
    font-weight: bold;
}

#manager-stats-generales-ticketsTotal-value {
    font-weight: bold;
}

#manager-stats-generales-prodFav-value {
    font-weight: bold;
}

#manager-stats-productos {
    display: flex;
    flex-direction: column;
    margin: 0 8%;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#manager-stats-productos-cabeza {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 2%;
}

#manager-stats-productos-cabeza p {
    width: 25%;
}

#manager-stats-productos-lista {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.manager-stats-productos-lista-prod {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.manager-stats-productos-lista-prod-title-cont {
    width: 25%;
    display: flex;
    align-items: center;
    gap: 5%;
}

.manager-stats-productos-lista-prod > p {
    width: 25%;
}

.manager-stats-productos-lista-prod-img {
    width: 100px;
}
